.add {
    margin: auto;
    display: inline-block;
    width: 300px;
    flex-direction: column;

    border: 1px solid blue;
    padding: 0 5px 15px 5px;

    -webkit-box-shadow: -3px -3px 24px 0px rgba(0,0,0,0.56);
    -moz-box-shadow: -3px -3px 24px 0px rgba(0,0,0,0.56);
    box-shadow: -3px -3px 24px 0px rgba(0,0,0,0.56);
}

.add>button {
margin-left: 10px;
    padding-right: 15px;
    padding-left: 15px;

}

.add>input {

}