.list {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: "DejaVu Serif";
    font-style: italic;
    font-size: x-large;
    border: 1px solid black;
    padding-bottom: 10px;
}

.list .edit_delete{
    margin-top: 5px;
    margin-bottom: 5px;
}

.edit_delete #delete {
    margin-right: 5px;
}

.edit_delete #edit {
    margin-left: 5px;
}

#submit {
    margin-left: 10px;
    margin-top: 20px;
}