.about{
    margin-left: 34%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    color: #222222;
    background: url(../../images/me.jpg);
    position: relative;
    content: '';
    margin-bottom: 250px;
    border: 10px solid tan;
}
.about::after{
    padding-top: 100px;
    content: '';
    display: block;
    background: tan;
    position: absolute;
    width: 10px;
    height: 0;
    bottom: -100px;
    left: 50%;
    margin-left: -5px;
}
.about>p{
    position: absolute;
    margin-top: 300px;
    background: burlywood;
    width: 650px;
    height: 100px;
    left: -110%;
    margin-bottom: 100px;
    font-size: larger;
}

@media screen and (max-width: 635px) {
    .about{
        margin-left: 22%;
        border: 5px solid tan;
        margin-bottom: 150px;
    }
    .about::after{
        padding-top: 50px;
        width: 5px;
        bottom: -50px;
        height: 0;
    }
    .about>p{
        height: 90px;
        width: 420px;
        font-style: normal;
        font-size: medium;
        left: -50%;
        margin-top: 250px;
    }
}