.ListBlocks {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
  }

.ItemBlock {
  display: block;
  height: 200px;
  margin-bottom: 15px;
  border: 1px solid blue;

  font-family: sans-serif;
  text-align: justify-all;

  -webkit-box-shadow: -3px -3px 24px 0px rgba(0,0,0,0.56);
  -moz-box-shadow: -3px -3px 24px 0px rgba(0,0,0,0.56);
  box-shadow: -3px -3px 24px 0px rgba(0,0,0,0.56);
  transition: 0.5s all;
}

.ItemBlock:hover {
  transform: scale(1.2);
}


.ItemBlock>img {
  width: 50px;
  height: 50px;
}

@media screen and (min-width: 420px) {
  .ListBlocks {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;
    justify-content: space-around;

  }
  .ItemBlock {
    width: 150px;
  }
}

@media screen and (min-width: 720px) {
  .ListBlocks {
    width: 700px;
  }

  .ItemBlock {
    width: 300px;
    height: 200px;
  }
}

@media screen and (min-width: 1040px) {
  .ListBlocks {
    width: 1100px;
  }

  .ItemBlock {
    width: 300px;
    height: 200px;
  }
}