.NotFound {
    background: #3b9039;
}
.NotFound>h1 {
    color: white;
    text-shadow: 1px 2px greenyellow;
    font-size: 150px;
}
p {
    color: white;
    font-style: oblique;
}

@media only screen and (max-width: 630px ) {
    .NotFound {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .NotFound > h1 {
        font-size: 90px;
    }
}

@media screen and (min-width: 631px ) {
    .NotFound {
        display: block;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    p {
    font-size: x-large;
    }
}
